// locals

$baseRed: #F06292;

app-important-urgent-items{
  .mat-card-title{
    background: $baseRed;
  }
  .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background: $baseRed;
  }
}
