<mat-card>

  <mat-card-title>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Type text"  value="Something">
      </mat-form-field>
    </form>
  </mat-card-title>

  <mat-card-content>
    <mat-selection-list #shoes>

      <mat-list-option>
        1
        <button mat-icon-button color="accent">
          <mat-icon aria-hidden="true">clear</mat-icon>
        </button>
      </mat-list-option>

      <mat-list-option>
        1
        <button mat-icon-button color="accent">
          <mat-icon aria-hidden="true">clear</mat-icon>
        </button>
      </mat-list-option>

      <mat-list-option>
        1
        <button mat-icon-button color="accent">
          <mat-icon aria-hidden="true">clear</mat-icon>
        </button>
      </mat-list-option>

      <mat-list-option>
        1
        <button mat-icon-button color="accent">
          <mat-icon aria-hidden="true">clear</mat-icon>
        </button>
      </mat-list-option>

    </mat-selection-list>
  </mat-card-content>

</mat-card>

