// mixin

@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
// globals

$mainBg: #f4f4f4;
$baseSpacing: 1.5rem;

body {
  margin: 0;
}

// main

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: $baseSpacing / 2;
  box-sizing: border-box;
  font-size: 14px;
  background: $mainBg;
  & > *{
    flex: 1 100%;
    max-width: calc(50% - 1.5rem);
    height: 100%;
    margin: $baseSpacing / 2;
  }
  .mat-card{
    margin-bottom: $baseSpacing;
    padding: 0;
    color: #fff;
  }
  .mat-card-title{
    padding: $baseSpacing / 2 $baseSpacing 0 $baseSpacing;
    margin-bottom: 0;
    .mat-button{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .mat-form-field-underline {
    background-color: #fff;
  }
  .mat-form-field-ripple {
    background-color: white;
  }
  .mat-selection-list .mat-list-option .mat-list-item-content-reverse{
    padding: 0 $baseSpacing;
  }
  .mat-form-field-placeholder-wrapper{
    display: none;
  }
  .mat-form-field-infix{
    border-top: 0;
  }
  .mat-form-field{
    top: 4px;
    font-size: 16px;
  }
}


.mat-selection-list{
  padding: 0 0 $baseSpacing 0;
}

.mat-form-field{
  width: 100%;
}


.mat-selection-list{

}

.mat-list-item-content{

}


.mat-list-text{
  .mat-icon-button{
    position: absolute;
    right: $baseSpacing / 2;
    top: 2px;
  }
}


.mat-list-text{

}

.mat-pseudo-checkbox{
  order: 1;
}

// footer

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

