// fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700');

// globals

$mainBg: #f4f4f4;
$baseSpacing: 1.5rem;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: $mainBg;
}

// main

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: $baseSpacing / 2 $baseSpacing / 2 100px $baseSpacing / 2;
  box-sizing: border-box;
  font-size: 14px;
  & > *{
    flex: 1 100%;
    max-width: calc(50% - 1.5rem);
    height: 100%;
    margin: $baseSpacing / 2;
  }
  .mat-card{
    margin-bottom: $baseSpacing;
    padding: 0;
    color: #fff;
    overflow: hidden;
  }
  .mat-card-title{
    padding: $baseSpacing / 2 $baseSpacing 0 $baseSpacing;
    margin-bottom: 0;
    .mat-button{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .mat-form-field-underline {
    background-color: #fff;
  }
  .mat-form-field-ripple {
    background-color: white;
  }
  .mat-selection-list .mat-list-option .mat-list-item-content-reverse {
    padding: 0 $baseSpacing;
  }
  .mat-form-field-placeholder-wrapper {
    display: none;
  }
  .mat-form-field-infix {
    border-top: 0;
  }
  .mat-form-field {
    top: 4px;
    font-size: 18px;
  }
  .mat-checkbox {
    margin-right: $baseSpacing;
  }
  .mat-selection-list .mat-list-item .mat-list-item-content{
    word-break: break-all;
    padding: $baseSpacing / 2 $baseSpacing $baseSpacing / 2 $baseSpacing;
    border-top: 1px solid $mainBg;
    min-height: 50px;
    height: inherit;
    .mat-icon-button {
      margin-left: auto;
      position: relative;
      right: -12px;
      opacity: 0;
      transition: opacity .1s ease-in-out;
    }
    &:hover{
      .mat-icon-button{
        opacity: 1;
      }
    }
  }
  .mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 0;
  }
  .mat-selection-list {
    padding: 0;
    outline: none;
  }
  .mat-button-ripple,
  .mat-checkbox-ripple{
    display: none;
  }
}

.ico-holder{
  position: relative;
  top: 5px;
  margin: 5px;
}

.ico-git{
  display: inline-block;
  width: $baseSpacing;
  height: $baseSpacing;
  background: url('/assets/icons/ico-git.svg') no-repeat center / contain;
}

.base-input{
  border: 0;
  width: 100%;
  color: rgba(0,0,0,.87);
  font-size: 16px;
  outline: 0;
  box-shadow: 0 0 0;
  display: block;
  &:hover,
  &:focus{
    outline: 0;
    box-shadow: 0 0 0;
  }
}

.mat-selection-list{
  padding: 0 0 $baseSpacing 0;
}

.mat-form-field{
  width: 100%;
}

.item_close{
  text-decoration: line-through;
  font-style: italic;
}

.mat-pseudo-checkbox{
  order: 1;
}

// footer

.footer{
  box-sizing: border-box;
  padding: $baseSpacing / 1.5 $baseSpacing;
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  outline: 0;
  box-shadow: 0 0 0;
  display: block;
  font-weight: 400;
  text-align: center;
  line-height: 35px;
  height: 100px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  p{
    margin: 0;
  }
  a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
  }
}

// media

@media screen and (max-width: 768px) {
  .main{
    & > *{
      max-width: 100%;
      margin: 0 $baseSpacing / 2;
    }
  }
}
