<header class="header">

</header>

<main class="main">
  <div class="col">
    <app-important-urgent-items></app-important-urgent-items>
    <app-no-important-urgent-items></app-no-important-urgent-items>
  </div>
  <div class="col">
    <app-important-no-urgent-items></app-important-no-urgent-items>

    <app-no-important-no-urgent-items></app-no-important-no-urgent-items>
  </div>
</main>

<footer class="footer">
  <p><a href="https://en.wikipedia.org/wiki/Time_management#The_Eisenhower_Method">Eisenhower Matrix</a> with IndexedDB</p>
  by <a href="#">Arzek</a> & <a href="#">gotoredo</a>
</footer>

