<header class="header">

</header>

<main class="main">
  <div class="col">
    <app-important-urgent-items></app-important-urgent-items>
    <app-important-no-urgent-items></app-important-no-urgent-items>
  </div>
  <div class="col">
    <app-no-important-urgent-items></app-no-important-urgent-items>
    <app-no-important-no-urgent-items></app-no-important-no-urgent-items>
  </div>
</main>

<footer class="footer">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        by Arzek & gotoredo
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Something</p>
    <mat-action-row>
      <button mat-button>Click me</button>
    </mat-action-row>
  </mat-expansion-panel>
</footer>
