// locals

$baseYellow: #FF9800
;

app-important-no-urgent-items{
  .mat-card-title{
    background: $baseYellow;
  }
  .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background: $baseYellow;
  }
}
