// locals

$baseYellow: #FF9800;
$baseYellowG: linear-gradient(75deg, #FF9800, lighten(#FF9800, 10%));

app-important-no-urgent-items{
  .mat-card-title{
    background: $baseYellowG;
  }
  .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background: $baseYellow;
  }
  .mat-icon{
    color: $baseYellow;
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background: $baseYellow;
  }
}
